@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'cal-sans';
	src: url('/fonts/cal-sans.woff');
	font-display: swap;
}

@layer base {
	:root {
		color-scheme: light;
		--theme-bg: 0deg 100% 100%;
		--theme-link: 0deg 0% 0%;
		--theme-text: 0deg 0% 33%;
		--theme-accent: 0deg 0% 0%;
		--theme-accent-2: 0deg 0% 0%;
		--theme-quote: 0deg 0% 0%;
	}

	:root.dark {
		color-scheme: dark;
		--theme-bg: 0deg 0% 0%;
		--theme-link: 0deg 100% 100%;
		--theme-text: 0deg 0% 73%;
		--theme-accent: 0deg 100% 100%;
		--theme-accent-2: 0deg 100% 100%;
		--theme-quote: 0deg 0% 73%;
	}

	html {
		@apply scroll-smooth;
	}

	html body {
		@apply flex min-h-screen flex-col bg-bgColor text-textColor antialiased;
	}

	html main {
		@apply mx-auto max-w-3xl flex-grow px-8 pt-16;
	}

	html footer {
		@apply mx-auto max-w-3xl px-8 pt-16;
	}
}
