---
import { menuLinks } from "@/site-config";
import Logo from "../Logo.astro";
import ThemeToggle from "../ThemeToggle.astro";
import Search from "../Search.astro";
import SocialList from "../SocialList.astro";

const url = new URL(Astro.request.url);
---

<header
	id="main-header"
	class="py-8 px-12 gap-y-6 flex flex-col items-start sm:items-center sm:flex-row sm:justify-between"
	transition:persist
>
	<a href="/">
		<Logo />
	</a>
	<nav
		id="navigation-menu"
		class="gap-6 flex justify-end md:w-full"
		aria-label="Main menu"
	>
		{
			menuLinks.map((link) => (
				<a
					href={link.path}
					aria-current={url.pathname === link.path ? "page" : false}
					rel="prefetch"
				>
					{link.title}
				</a>
			))
		}
		<Search />
		<SocialList />
		<ThemeToggle />
	</nav>
</header>
