---
import { Icon } from "astro-icon";

/** 
	Uses https://github.com/natemoo-re/astro-icon#readme
	Find icons @ https://icones.js.org/
*/
const socialLinks = [
	{
		name: "ph:github-logo",
		friendlyName: "Github",
		link: "https://github.com/zepez/",
	},
	{
		name: "ph:linkedin-logo",
		friendlyName: "LinkedIn",
		link: "https://www.linkedin.com/in/zepez/",
	},
	{
		name: "ph:envelope-open",
		friendlyName: "email",
		link: "mailto:alex@zepez.dev",
	},
];
---

{
	socialLinks.map(({ link, name, friendlyName }) => {
		const isEmail = name.includes("email") || friendlyName.toLowerCase().includes("email");
		return (
			<li class="flex mt-[2px]">
				<a
					class="inline-block sm:hover:text-link"
					href={link}
					target="_blank"
					rel={`noopener noreferrer me ${isEmail ? "authn" : ""}`}
				>
					<Icon class="h-5 w-5" name={name} aria-hidden="true" focusable="false" />
					<span class="sr-only">{friendlyName}</span>
				</a>
			</li>
		);
	})
}
